body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.container {
 

}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border: 1px solid rgb(150, 150, 150);
  border-right: 0;
  padding: 10px;
  width: 80%;
} 

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
.jumbotron h1 {
  color: #777;
}
.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  margin-bottom: 5px;;
}
.row.last {
  margin-bottom: 70px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-bottom: 1px dashed #000000;
  padding: 3px;
  width: 5%;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}



body .row .list-group span.form-control {
  display: block;
  width: 100%;
  height: 100% !important;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}